.main {
    width: 640px;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.details {
    display: flex;
    justify-content: space-between;
}

.center {
    text-align: center;
}

.flex {
    display: flex;
}
