.orderNumber {
    text-shadow: 0px 0px 16px rgba(51, 51, 255, 0.25), 0px 0px 8px rgba(51, 51, 255, 0.25), 0px 4px 32px rgba(51, 51, 255, 0.5);
}

.main {
    margin-left: auto;
    margin-right: auto;
    width: 520px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .done {
    width: 120px;
    height: 120px;
    background-image: url(../../images/graphics.svg);
} */