.main {
    position: relative;
    display: flex;
    width: 272px;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.price {
    display: flex;
}

.center {
    text-align: center;
    min-height: 48px;
}
