.modal {
    z-index: 2;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    min-height: 539px;
    width: 720px;
    background-color: #1C1C21;
    border-radius: 40px;
    text-align: left;
}

.close {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
}