.modal {
    width: 720px;
    margin: 1% auto;
}

.main {
    width: 720px;
    margin: 10vh auto;
    text-align: center;
}

.about {
    margin-left: auto;
    margin-right: auto;
    width: 520px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.title {
    padding: 0;
    padding-top: 8px;
    width: 640px;
}

.ul {
    padding: 0;
    display: flex;
}

.li {
    display: flex;
    align-items: center;
    flex-direction: column;
    list-style-type: none;
}