.main {
    display: flex;
    flex-direction: column;
    max-width: 480px;
    margin: 10vw auto;
    align-items: center;
}


.subtitle {
    display: flex;
    align-items: center;
    justify-content: center;
}